.header {
  display: flex;
  justify-content: center;
  min-height: 5.3vh;
  font-family: "Maven Pro", sans-serif;
}

#v3-security {
  transform: translateX(-6.1%);
  margin: auto 0;
  width: 18vw;
  height: 3.5vw;
}

.header-content {
  display: flex;
  justify-content: center;
  height: 100%;
  transform: translateX(5.5%);
}

.notimage {
  flex-direction: column;
  text-transform: uppercase;
  height: fit-content;
}

.header-content-contact {
  display: flex;
  font-size: 1.5vw;
}

.header-content-number {
  background-color: $lightGrey;
  display: flex;
  justify-content: center;
  padding: 0 0 0 3.5vw;
  font-size: 1.4vw;
  width: fit-content;
  margin-left: auto;
  height: 2.1vh;
  border-bottom-left-radius: 10% 90%;
  border-bottom-right-radius: 40% 80%;
  color: $buttonGrey;
}

#phone-icon {
  width: 100%;
}

.header-content-contact-quote {
  background-color: $mainBlue;
  padding: 0 2vw;
  font-size: 1.3vw;
  margin-right: 0;
  width: fit-content;
  border-bottom-left-radius: 15% 95%;
  border-bottom-right-radius: 15% 95%;
  color: white;
}

#bbb {
  margin-left: 1vw;
  width: 3vw;
  height: auto;
}

@import "./sub/navbar.scss";
