
@mixin middle-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 1vh;
    justify-content: space-between;
  }
  .middle-image-container {
    display: flex;
  
    width: 6vw;
    height: 6vw;
    padding: 7%;
    background-color: $buttonGrey;
    border-radius: 50%;
  }
  @mixin middle-card-image {
    height: 100%;
    margin: auto;
  }
  @mixin middle-card-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 900;
    width: 70%;
    font-size: 1vw;
    margin: .7vh 0 auto;
    color: $mainBlue;
  }
  
  @mixin middle-card-text {
    align-items: baseline;
    margin: .1vh;
    color: $darkGrey;
    
  }
  
  @mixin middle-card-button {
    text-transform: uppercase;
    justify-content: baseline;
    border: 1px solid $darkGrey;
    width: 45%;
  
    border-top-left-radius: 20% 80% ;
    border-bottom-right-radius: 20% 80% ;
  }
  
  [class^="middle-card"] {
    @include middle-card();
    img {
      @include middle-card-image;
    }
  }
  
  [class^="middle-card-title"] {
    @include middle-card-title();
  }
  [class^="middle-card-text"] {
    @include middle-card-text();
  }
  
  [class^="middle-card-button"] {
    @include middle-card-button();
  }