
@mixin buttons {
  width: fit-content;
  height: 100%;
  a {
    width: fit-content;
    height: fit-content;
  }

  white-space: nowrap;
  font-size: 1.16vw;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 1.1vw auto 0 auto;
  a {
    width: fit-content;
    height: fit-content;
    h5 {
      font-size: 1.125vw;
    }
  }
}

.point {
  display: block;
  width: 0.2vw;
  height: 0.2vw;

  margin: 0 0.66vw;
  background-color: $buttonGrey;
}

.home,
.about-us,
.v3-cares,
.products,
.services,
.contact {
  @include buttons();
}
