@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&display=swap");
* {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.react-menu {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    -webkit-animation: logo-spin infinite 20s linear;
            animation: logo-spin infinite 20s linear;
  }
}

@-webkit-keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fill {
  background-color: red;
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px black solid;
  background-color: white;
}

.hold {
  border: solid green 4px;
}

.hovered {
  background: yellow;
  border-style: dashed;
}

.invisible {
  display: none;
}

.textRows,
.buttonsRows {
  text-align: center;
}

.myButtons {
  margin: 10px;
}

.textRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #707070;
}

.home:link,
.home:visited,
.home:hover,
.home:active {
  color: #00bae9;
  font-weight: 900;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5.3vh;
  font-family: "Maven Pro", sans-serif;
}

#v3-security {
  -webkit-transform: translateX(-6.1%);
          transform: translateX(-6.1%);
  margin: auto 0;
  width: 18vw;
  height: 3.5vw;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transform: translateX(5.5%);
          transform: translateX(5.5%);
}

.notimage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header-content-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5vw;
}

.header-content-number {
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 3.5vw;
  font-size: 1.4vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  height: 2.1vh;
  border-bottom-left-radius: 10% 90%;
  border-bottom-right-radius: 40% 80%;
  color: #404041;
}

#phone-icon {
  width: 100%;
}

.header-content-contact-quote {
  background-color: #00bae9;
  padding: 0 2vw;
  font-size: 1.3vw;
  margin-right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom-left-radius: 15% 95%;
  border-bottom-right-radius: 15% 95%;
  color: white;
}

#bbb {
  margin-left: 1vw;
  width: 3vw;
  height: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 1.1vw auto 0 auto;
}

.navbar-content a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navbar-content a h5 {
  font-size: 1.125vw;
}

.point {
  display: block;
  width: 0.2vw;
  height: 0.2vw;
  margin: 0 0.66vw;
  background-color: #404041;
}

.home,
.about-us,
.v3-cares,
.products,
.services,
.contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  white-space: nowrap;
  font-size: 1.16vw;
  margin: 0;
}

.home a,
.about-us a,
.v3-cares a,
.products a,
.services a,
.contact a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34.5vh;
  font-family: "Maven Pro", sans-serif;
  background-image: url("./components/resources/houses.png");
  background-size: 100%;
  color: white;
}

.main-content {
  background-color: #00bae9b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 34.7%;
      flex-basis: 34.7%;
  -webkit-transform: translate3d(-39%, -3%, 0);
          transform: translate3d(-39%, -3%, 0);
  border-top-left-radius: 15% 20%;
  border-bottom-right-radius: 15% 20%;
  padding: 1.5vh 2.4%;
}

.main-title {
  text-transform: uppercase;
  font-size: 3.06vw;
  line-height: 90%;
  font-weight: 700;
  margin-bottom: 4%;
}

.main-title p {
  margin: 0;
}

.main-text {
  font-weight: 500;
  font-size: 1vw;
  line-height: 130%;
}

.main-text p {
  margin: 0;
}

.main-quote {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  padding: 4% 6%;
  margin: 6% 0 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid white;
  border-top-left-radius: 20% 70%;
  border-bottom-right-radius: 20% 70%;
  font-size: 1.16vw;
}

.main-quote p {
  margin: 0;
}

.middle {
  height: 30.6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-color: white;
  padding: 0 18vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.45vh, white), color-stop(1%, transparent)) center, -webkit-gradient(linear, left top, left bottom, color-stop(0.45vh, white), color-stop(1%, transparent)) center, #707070;
  background: linear-gradient(-90deg, white 0.45vh, transparent 1%) center, linear-gradient(white 0.45vh, transparent 1%) center, #707070;
  background-size: .5vh .5vh;
}

.middle-all-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.middle-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6vw;
  height: 6vw;
  padding: 7%;
  background-color: #404041;
  border-radius: 50%;
}

[class^="middle-card"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="middle-card"] img {
  height: 100%;
  margin: auto;
}

[class^="middle-card-title"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  width: 70%;
  font-size: 1vw;
  margin: .7vh 0 auto;
  color: #00bae9;
}

[class^="middle-card-text"] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: .1vh;
  color: #707070;
}

[class^="middle-card-button"] {
  text-transform: uppercase;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  border: 1px solid #707070;
  width: 45%;
  border-top-left-radius: 20% 80%;
  border-bottom-right-radius: 20% 80%;
}

.middle-about-us {
  margin-top: 1.3vw;
  text-transform: uppercase;
  font-size: 1.5vw;
}

[class^="middle-text-"] {
  margin: 0 1vw;
  font-size: 1vw;
  text-align: center;
}

.footer {
  height: 29.6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15vw;
  border-top: 1px solid #efefef;
  background-color: white;
}

.footer-clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2vw;
}

.footer-title-clients {
  display: block;
  position: relative;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.01vw;
  line-height: 170%;
  padding: 0 0.3vw;
  background-color: #00bae9;
  height: 3.5vh;
  width: 155%;
  border-bottom-right-radius: 7% 85%;
}

.footer-title-clients div {
  -webkit-transform: translateX(61%);
          transform: translateX(61%);
}

.footer-clients-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.6vw;
}

.footer-client-speech-bubble-1 {
  background: url("./components/resources/double-quotes.png") top left no-repeat, url("./components/resources/double-quotes-rotated.png") bottom right no-repeat;
  background-size: 4%;
  background-position: 2% 12%, 98% 88%;
  margin-top: 1vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  font-family: arial;
  font-size: 1vw;
  background-color: #efefef;
  color: #707070;
  border-radius: 5px;
  padding: 2vw;
  max-width: 31vw;
  text-align: center;
}

.footer-client-speech-bubble-2 {
  background: url("./components/resources/double-quotes.png") top left no-repeat, url("./components/resources/double-quotes-rotated.png") bottom right no-repeat;
  background-size: 4%;
  background-position: 2% 12%, 98% 88%;
  margin-bottom: 0.5vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  font-family: arial;
  font-size: 1vw;
  background-color: #efefef;
  color: #707070;
  border-radius: 5px;
  padding: 2vw;
  max-width: 31vw;
  text-align: center;
}

.footer-client-speech-bubble :after {
  content: "";
  border: 1vw solid transparent;
  border-left: 1vw solid #efefef;
  border-top: 1vw solid #efefef;
  position: absolute;
  bottom: -1.7vw;
  left: 15%;
}

[class^="footer-client-container"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class^="footer-client-box"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vw 0;
}

.footer-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class^="footer-client"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name {
  line-height: 200%;
  font-size: 1.2vw;
  padding-left: 1vw;
}

[class^="footer-client-rating"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -2px;
  font-size: 1.8vw;
}

#alice,
#john {
  width: 2.7vw;
  height: 2.7vw;
}

.footer-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 900;
  border-top: 1px solid #efefef;
  color: #00bae9;
}

.footer-last-next-arrow {
  width: 2vw;
  height: 2vw;
  background-color: #00bae9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  color: white;
  text-align: center;
  font-size: 1vw;
}

.footer-video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31vw;
  margin: 1vh 0 0 0.6vw;
}

.footer-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#video {
  width: 100%;
}

.footer-video-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-video-text-title {
  margin-top: 0.5vh;
  font-size: 1.25vw;
  font-weight: 900;
}

.footer-video-text-description {
  margin-top: 0.3vh;
  font-size: 1vw;
  line-height: 130%;
}
/*# sourceMappingURL=App.css.map */