@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&display=swap");

* {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

$mainBlue: #00bae9;
$lightGrey: #efefef;
$darkGrey: #707070;
$buttonGrey: #404041;

@import "styles/reactStuff.scss";
@import "styles/exe1/exe1.scss";
@import "styles/exe2/exe2.scss";
@import "styles/exe3/exe3.scss";

